body {
    font-family: "Montserrat", sans-serif;
    margin: 20px;
    padding: 20px;
    background: #ccd2ff;
}

/* Navbar */
nav {
    background: white;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #0078ff;
}

/* Headings */
h1 {
    color: #000000;
}

h2 {
    color: #000000;
}

/* Paragraphs */
p {
    color: #000000;
}

/* Buttons */
button {
    padding: 8px 14px;
    cursor: pointer;
    background: #0078ff;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background: #005fcc;
}

.centeredButton {
    display: block;
    margin: 20px auto;
}


.btn {
  display: block;
  padding: 10px 20px;
  background-color: #4d62ff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  width: fit-content;
  margin: 20px auto;   /* auto centers it */
}

.showcase {
  margin: 0 auto;
  width: fit-content; /* optional */
}

/* Gallery */
div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  
}

/* Border */
.border {
  padding: 10px;
  margin: 10px;
  background-color: #a8b2ff;
}

div.gallery-item {
  margin: 5px;
  border: 1px solid #ccc;
  width: 240px;
}

div.gallery-item:hover {
  border: 1px solid #777;
}

div.gallery-item img {
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}

/* Border */
.border {
  padding: 10px;
  margin: 10px;
  background-color: #c6d6fa;
}

