body {
    font-family: "Montserrat", sans-serif;
    margin: 20px;
    padding: 20px;
    background: #ccd2ff;
}

/* Navbar */
nav {
    background: white;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #0078ff;
}

/* Headings */
h1 {
    color: #000000;
}

h2 {
    color: #000000;
}

/* Paragraphs */
p {
    color: #000000;
}

/* Buttons */
button {
    padding: 8px 14px;
    cursor: pointer;
    background: #0078ff;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background: #005fcc;
}

/* Encoder & Decoder */
.centeredButton {
    display: block;
    margin: 20px auto;
}

/* Borders */
.box {
  border: 3px solid white;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4d62ff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  width: fit-content;
  margin: 20px auto;   /* auto centers it */
}


