body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #8e8cff;
}

/* Buttons */
button {
    padding: 8px 14px;
    cursor: pointer;
    background: #0078ff;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background: #005fcc;
}

/* Form */
input {
    padding: 6px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
